<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <title>Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

    <h1>채팅임</h1>
    <div id="chatbox">


    </div>
    <br>
    <input type="text" id="chat"> <button id="btn">입력</button>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>